#form_div{
		width: 400px;
		height: 450px;
		border:2px solid purple;
		float: left;
		font-style: italic;
		
		  background-image: radial-gradient(purple,pink);

}
#value_div{
		width: 400px;
		height: 400px;
		border:2px solid purple;
		float: right;
		text-align: center;
		background-color: grey;
		font-style: italic;
		font-size: 25px;
		  background-image: radial-gradient(purple,pink);
}
#value_div >button{
		position: absolute;
		top: 250px;
		display: none;
}